.pageTitle {
	margin:0;
	padding: 0;
	display: inline-flex;
	align-items: center;
	font-weight: 500;
	margin-bottom: 10px;
	min-height: 32px;
	font-size: 28px;
}

.pageTitle small {
	margin-left: 16px;
	vertical-align: bottom;	
}