.select {
	width: auto;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	border: var(--border);
	border-radius: var(--border-radius);
	--color: var(--theme);
	--color-tp: var(--theme-tint-10);
	color: var(--text-color);
	background-color: var(--bg-color);
	font-size: inherit;
}

.button {
	color: inherit;
	background-color: transparent;
	font-size: inherit;
	min-width: 192px;
	padding: 8px 16px;
	padding-right: 12px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	cursor: pointer;
	position: relative;
}

.select:focus-within {
	border-color: transparent;
	background-color: transparent;
	box-shadow: 
		rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, 
		var(--color) 0px 0px 0px 2px;
}

.chevron {
	padding-left: 8px;
	font-size: inherit;
	box-sizing:content-box;
}

.button:focus .chevron {
	color: var(--color);
}

.options {
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
	box-shadow: var(--gray-5) 0px 0px 0px 1px, var(--gray-5) 0px 4px 11px;
	position: absolute;
	width: 100%;
	visibility: hidden;
}

.select:focus-within .options {
	visibility: visible;
}

.bottom {
	top: 100%;
	margin-top: 8px;
}

.top {
	bottom: 100%;
	margin-bottom: 8px;
}
