.actionLink {
	font-size: 1.2em;
	--color: var(--theme);
	--color-tp: var(--theme-tint-10);
	color: var(--color);
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
}

.actionLink:hover {
	text-decoration: underline;
}