.wrapper {
	position: absolute;
	width: 100%;
	background-color: var(--bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
	visibility: hidden;
	
	box-shadow: var(--gray-5) 0px 0px 0px 1px, var(--gray-5) 0px 4px 11px;
	margin-bottom: 8px;
	margin-top: 8px;
	z-index: 1;
}

.wrapper:empty {
	visibility: hidden;
}

