.appbar {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
	height: 64px;
	position: sticky;
	top: 0;
	z-index: 10;
	padding: 0 16px;
	gap: 8px;
	color: var(--text-color);
	border-bottom: var(--border);
	background-color: var(--bg-color);
}

.shadow {
	border: none;
	box-shadow: var(--shadow);
}