.wrapper {
	display: inline-flex;
	align-items: center;
	padding-right: 16px;
	padding-left: 4px;
	border-radius: var(--border-radius);
	--color: var(--theme);
	--color-tp: var(--theme-tint-10);
	_background-color: var(--color-tp);
	background-color: rgba(230, 230, 230, .1);
	border: var(--border);
	color: var(--text-color);
	width: 100%;
}

.button:hover {
	background-color: var(--gray-5);
}

/* .wrapper:focus-within .button{
	--color: var(--theme);
}
 */
.wrapper:focus-within .button:hover{
	background-color: var(--theme-tint-10);
}

.searchBox {
	font-size: inherit;
	padding: 0;
	padding-left: 8px;
	flex: 1;
	height: 36px;
	vertical-align: middle;
	background: transparent;
	color: inherit;
}

.searchBox::-webkit-search-decoration,
.searchBox::-webkit-search-cancel-button,
.searchBox::-webkit-search-results-button,
.searchBox::-webkit-search-results-decoration {
	-webkit-appearance:none;
}