/* .layout {

	max-width: 1920px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	resize: horizontal;
}

.main {
	flex: 1;
	width: 100%;
	overflow: none;
}

@media screen and (min-width: 1920px) {
	.layout {
		border-right: var(--border);
		border-left: var(--border);
	}
}
 */

html {
	overflow: hidden;
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
	overflow-x: auto;
}

.layout {
	/* border: 3px solid var(--red); */
	display: flex;
	width: 100%;
	height: 100vh;
}

.sidebar,
.content {
	/* border: 3px solid var(--green); */
	box-sizing: border-box;
	position: relative;
	overflow: none;
}

.sidebar {
	width: auto;
	border-right: var(--border);
}

.content {
	flex: 1;
}

.appbar {
	/* border: 3px solid var(--blue); */
	flex-flow: column;
	z-index: 20;
	position: sticky;
	top: 0;
	width: 100%;
	height: auto;
	background-color: rgba(192, 192, 192, .4);
}

.main,
.nav {
	/* border: 3px solid var(--blue); */
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: auto;
	min-width: 256px;
}