/* .layout {

	max-width: 1920px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	resize: horizontal;
}

.main {
	flex: 1;
	width: 100%;
	overflow: none;
}

@media screen and (min-width: 1920px) {
	.layout {
		border-right: var(--border);
		border-left: var(--border);
	}
}
 */

html {
	overflow: hidden;
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
}

.layout {
	/* border: 3px solid var(--red); */
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	max-width: 100%;
	height: 100vh;
	_overflow-x: auto;
}

.sidebar,
.content {
	/* border: 3px solid var(--green); */
	box-sizing: border-box;
	position: relative;
	overflow: none;
}

.sidebar {
	width: auto;
	border-right: var(--border);
}

.content {
	flex: 1;
	min-height: 0;
	overflow: hidden;
}

.appbar {
	/* border: 3px solid var(--blue); */
	z-index: var(--zindex-sticky);
	position: sticky;
	top: 0;
	width: 100%;
	height: 64px;
}

.main,
.nav {
	/* border: 3px solid var(--blue); */
	box-sizing: border-box;
	position: relative;
	width: auto;
	height: 100%;
	height: calc(100% - 64px);
	overflow: auto;
	min-width: 256px;
}

.bottomBar {
	display: flex;
	align-items: center;
	border-top: var(--border);
	background-color: var(--bg-color);
	height: 24px;
	padding: 0 12px;
	width: 100%;

	position: fixed;
	bottom: 0;
}


/* .content {
	overflow: auto;
	border: 3px solid green;
}

.content .appbar {
	position: absolute;
	top: 0;
	border: 3px solid blue;
}

.main {
	height: auto;
	border: 3px solid red;
	margin-top: -64px;
} */