.layout {
	_display: grid;
	_grid-template-columns: 256px 1fr;
	display: inline-flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	max-width: 1920px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	resize: horizontal;
}

@media screen and (min-width: 960px) {
	
}
