@keyframes spinner {
	to {transform: rotate(360deg);}
}

.wrapper {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	font-size: 24px;
	animation: spinner .6s linear infinite;
	margin: 1em;
}
