.detail {
	display: flex;
	align-items: top;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 16px 0;
}

.detail > *:not(:last-child) {
	margin-right: 8px;
	margin-bottom: 8px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: auto;
	height: 44px;
	padding: 0 12px;
	padding-right: 16px;
	font-size: .95em;
	_border: var(--border);
	border-radius: var(--border-radius);
	text-decoration: none;
	color: inherit;

	background-image: linear-gradient(rgba(192 ,192, 192, .0382), rgba(192 ,192, 192, .0618))
}

.button:hover {
	background-color: rgba(128, 128, 128, .1);
}

.button svg {
	margin-right: 12px;
	font-size: 1.6em;
}

.detail address {
	text-decoration: inherit;
	font-style: inherit;
	margin: 0;
	padding: 0;
}