.textarea {
	composes: textField from "../TextField/text-field.module.css";

	padding: 16px;
	width: 100%;
	display: block;
	min-height: 108px;
	resize: none;
	line-height: initial;
}

.textarea:focus {
	border-color: var(--color);
	box-shadow: 0 0 0 3px var(--color-tp);
}