.wrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	-webkit-user-select: none;
	vertical-align: middle;
	cursor: pointer;
	--color: var(--theme);
	--checked: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/><circle cx="12" cy="12" r="5"/></svg>');
	--unchecked: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>');
}

.radio {
	width: 0;
	height: 0;
	display: none;
}

.icon {
	width: 1em;
	height: 1em;
	background-size: 1em 1em;
	color: red;
	font-size: 1.5em;
	margin: 0;
	margin-right: .2em;

	--svg: var(--unchecked);
	-webkit-mask: var(--svg) no-repeat center;
	mask: var(--svg) no-repeat center;
	background-color: var(--gray);
}

.radio:checked + .icon  {
	--svg: var(--checked);
	background-color: var(--color);
}