.inputGroup {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.inputGroup > * {
	z-index: 0;
	margin-left: -1px;
}

.inputGroup *:not(:focus):not(:hover):not(:active) {
	border-color: var(--border-color);
}

.inputGroup > *:first-child {
	margin-left: 0;
}

.inputGroup > *:not(:first-child):not(:last-child){
	border-radius: 0;
}

.inputGroup > *:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.inputGroup > *:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.inputGroup > *:hover,
.inputGroup > *:active,
.inputGroup > *:focus {
	z-index: 1;
}