.tabs {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	border-radius: var(--border-radius);
	padding: 2px;
	background-color: rgba(230,230,230,.2);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.button {
	color: inherit;
	border: 0;
	min-width: 130px;
	font-weight: normal;
	font-weight: 500;
	border-radius: var(--border-radius);
}

.button.activated {
	box-shadow: 1px 1px 3px rgba(128, 128, 128, .18);
	color: inherit;
	background-color: var(--bg-color);
}

.button:hover:not(.activated),
.button:focus:not(.activated) {
	background-color: transparent;
}